<div *ngIf="isVisible">
    <div class="outside">
        <div class="courses">
          <a href="organizations/1">
            <div class="card" style="width: 12rem;">
                <img src="https://cdn.discordapp.com/attachments/314593256954658816/1181408215381069834/NTFKLmpwZw.png?ex=6580f324&is=656e7e24&hm=8a21a91080735da8b8a03d7e31e3ef35c1f546c8f23ca5daa6ff69cee8f05acf&" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Fayke Nayme</h5>
                  <p class="card-text">Marching Band</p>
                </div>
              </div>
            </a><a href="organizations/2">
              <div class="card" style="width: 12rem;">
                <img src="https://cdn.discordapp.com/attachments/314593256954658816/1181408215381069834/NTFKLmpwZw.png?ex=6580f324&is=656e7e24&hm=8a21a91080735da8b8a03d7e31e3ef35c1f546c8f23ca5daa6ff69cee8f05acf&" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Myaningles Wurdz</h5>
                  <p class="card-text">A.C.M.</p>
                </div>
              </div>
              </a>
        </div>
    </div>
</div>


<button class="myButton" (click)="toggleVisibility()">Organizations</button>