<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<title>navbar</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>



<nav class="navbar navbar-expand-lg NDSUnav" id="navbarSupportedContent">
    <!---    logo   -->
    <a class="NDSU-brand navbar-brand" href="/home">NDSU</a>
    <!---    nav bar stuff   -->
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            
            <div class="nav-button">
                <app-listed-courses></app-listed-courses>
                   
            </div>
            <a href="">
                <div class="nav-button">
                    <li class="nav-item">
                        Organizations
                    </li>
                </div>
            </a>
            <a href="/grades">
                <div class="nav-button">
                    <li class="nav-item">
                        Grades
                    </li>
                </div>
            </a>
            
        </ul>
    </div>
</nav>
