.card {
    margin-top: 0.5%;
    box-shadow: -3px 3px  #333;
    border-color: #333;
    border-width: 3px;
    background-color: rgb(255, 237, 191);
}

.assignments {
    float: right;
}

.assignmentsUl {
    margin: 0 0 0 32px;
    line-height: 1 5;
}

.b1 {
    list-style: none;

    list-style-image: url(https://cdn.discordapp.com/attachments/314593256954658816/1181426978960707594/pngtree-book-clipart-vector-png-image_6653535_25x22.png?ex=6581049d&is=656e8f9d&hm=8ee8602a8982a78b286f2f8b815f6cefa4851f30a001dcd899eacd2e5aeb07af&);

}

.assinSpecifc {
    margin-left: 1%;
    padding-left: 1%;
    padding-top: -10%;
}