<div *ngIf="isVisible">
    <div class="outside">
        <div class="courses">

            <div class="card" style="width: 12rem;">
                <img src="https://cdn.discordapp.com/attachments/314593256954658816/1181408215381069834/NTFKLmpwZw.png?ex=6580f324&is=656e7e24&hm=8a21a91080735da8b8a03d7e31e3ef35c1f546c8f23ca5daa6ff69cee8f05acf&" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Eva Evans</h5>
                  <p class="card-text">Math 166</p>
                </div>
              </div>

              <div class="card" style="width: 12rem;">
                <img src="https://cdn.discordapp.com/attachments/314593256954658816/1181408215381069834/NTFKLmpwZw.png?ex=6580f324&is=656e7e24&hm=8a21a91080735da8b8a03d7e31e3ef35c1f546c8f23ca5daa6ff69cee8f05acf&" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">David Davis</h5>
                  <p class="card-text">Csci 160</p>
                </div>
              </div>

              <div class="card" style="width: 12rem;">
                <img src="https://cdn.discordapp.com/attachments/314593256954658816/1181408215381069834/NTFKLmpwZw.png?ex=6580f324&is=656e7e24&hm=8a21a91080735da8b8a03d7e31e3ef35c1f546c8f23ca5daa6ff69cee8f05acf&" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cathy Clark</h5>
                  <p class="card-text">Eng 320</p>
                </div>
              </div>

              <div class="card" style="width: 12rem;">
                <img src="https://cdn.discordapp.com/attachments/314593256954658816/1181408215381069834/NTFKLmpwZw.png?ex=6580f324&is=656e7e24&hm=8a21a91080735da8b8a03d7e31e3ef35c1f546c8f23ca5daa6ff69cee8f05acf&" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Bob Brown</h5>
                  <p class="card-text">Csci 428</p>
                </div>
              </div>

              <div class="card" style="width: 12rem;">
                <img src="https://cdn.discordapp.com/attachments/314593256954658816/1181408215381069834/NTFKLmpwZw.png?ex=6580f324&is=656e7e24&hm=8a21a91080735da8b8a03d7e31e3ef35c1f546c8f23ca5daa6ff69cee8f05acf&" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Alice Adams</h5>
                  <p class="card-text">Psyc 111</p>
                </div>
              </div>

              <div class="card" style="width: 12rem;">
                <img src="https://cdn.discordapp.com/attachments/314593256954658816/1181408215381069834/NTFKLmpwZw.png?ex=6580f324&is=656e7e24&hm=8a21a91080735da8b8a03d7e31e3ef35c1f546c8f23ca5daa6ff69cee8f05acf&" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Joe Johnson</h5>
                  <p class="card-text">Hist 101</p>
                </div>
              </div>
        </div>
    </div>
</div>
  
<button (click)="toggleVisibility()">Toggle Visibility</button>